# ==============================
# Node.js
# ==============================
node_modules/

# ==============================
# Playwright / Reports
# ==============================
reports/
playwright-report/
test-results/
blob-report/
playwright/.cache/

# ==============================
# Environment variables / Secrets
# ==============================
#.env
.env.dev
.env.staging
.env.prod
